
@import url("/usr/share/libnagato/data/common.css");
@import url("/usr/share/libnagato/data/dialog.css");
@import url("/usr/share/libnagato/data/widget.css");

window, dialog {
    /*background-color: #DEE6B7;*/
    background-color: DodgerBlue;
    background-repeat: repeat;
    background-position: center;
    /*NAGATO_BACKGROUND_IMAGE_MAIN_WINDOW*/
}

textview {
    opacity: 0.7;
    /*NAGATO_OPACITY*/
    font: Oblique Bold 24px "Ubuntu Mono", "Sans Serif Mono";
    /*NAGATO_FONT*/
}

menu {
    background-repeat: repeat;
    background-position: center;
    /*NAGATO_BACKGROUND_IMAGE_GTK_MENU*/
}

filechooser, fontchooser {
    opacity: 0.9;
}

paned separator.wide {
    min-width: 1em;
    background-image: None;
    background-color: Transparent;
    opacity: 0.7;
}
